$z-index-navbar: 10;
$footer-height: 350px;
$navbar-height: 100px;

body {
  margin-bottom: $footer-height;
}

.site-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-navbar;


}

body > .site-header + .container {
  padding: $navbar-height 15px 0;
}

.container {
  max-width: 720px;
}

.site-footer {
  background-color: $clr-secondary;
  color: $clr-white;
  a{
    color: $clr-primary;
  }
  bottom: 0;
  height: $footer-height;
  line-height: 60px;
  position: absolute;
  width: 100%;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
      list-style-type: none;
    }
  }
}
