$z-index-navbar: 10;
$footer-height: 350px;
$navbar-height: 100px;
$body-bottom-margin: 20px;
$copyright-height: 50px;

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}


.content{
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  margin: $navbar-height+50px 20px $footer-height;
  padding: 20px;

}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.container {
  max-width: 720px;
}


