$z-index-navbar: 10;
$footer-height: 350px;
$navbar-height: 100px;

body {
  margin-bottom: $footer-height;
}

.site-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-navbar;


}

body > .site-header + .container {
  padding: $navbar-height+50px 15px $footer-height;
}

.container {
  max-width: 720px;
}
.content{
  //min-height: calc(100vh - $footer-height);
}

.site-footer {
  background-color: $clr-secondary;
  color: $clr-white;
  a{
    color: $clr-primary;
  }
  bottom: 0;
  height: $footer-height;
  //line-height: 60px;
  margin-top:-50px;
  position: absolute;
  padding: 10px;
  width: 100%;

}
.copyright{
  color: $clr-secondary;
  background-color:$clr-secondary-darker;
  bottom: 0;
  height: 50px;
  padding: 0;
  position: absolute;
  width:100%
}
