@import "defaults";


.footer-brand{
    height: $navbar-height;
  }
.footer {
    background-color: $clr-secondary;
    color: $clr-white;
    //bottom: 0;
    height: $footer-height;
    
    //position: absolute;
    padding: 10px;
    margin-bottom: $copyright-height;
    width: 100%;
    .container {
      .fa {
        text-align: center;
        padding: 10px;
      }
      .social-media-list{
        width: 75%;
      }
      .address {
        p {
          margin-bottom: 0;
        }
      }
      .site-index {
        margin: auto;
        ul {
          list-style-type: none;
        }
      }
      
      a{
        color: $clr-primary;
        &:hover {
          color: $clr-white;
        }
      }
    }
}

.copyright{
  color: $clr-secondary-lighter;
  background-color:$clr-secondary-darker;
  bottom: 0;
  height: $copyright-height;
  padding: 0;
  position: absolute;
  width:100%
}