@import "defaults";


.site-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-navbar;
}

.navbar{
  padding: 0;
}

.navbar-brand{
    height: $navbar-height;
    margin: 0 0 0 100px;
  }
